snippet $ "jQuery" i
$('${1:${VISUAL}}')$0
endsnippet

snippet jq "jQuery-Alias" i
$('${1:${VISUAL}}')$0
endsnippet

snippet ready "DOM ready"
$(() => {
	${1:${VISUAL}}
});
endsnippet

snippet cl "console.log"
console.log(${1:${VISUAL}});$0
endsnippet
